<!-- ko if: showProductStock() -->
<div class="product-stock-content" id="product-stock-content">
    <div class="total-stock" id="total-stock" data-bind="text: getTotalStock()"></div>
    <div class="product-stock-wrapper" id="product-stock">
        <div>
            <label for="product-id" data-bind="i18n: 'Введите product id: '"></label>
            <input id="product-id" type="text" data-bind="value: productId">
            <button data-bind="click: getProductStock(), i18n: 'Поиск'"></button>
        </div>
        <div class="abs-add-clearfix"></div>
        <!-- ko if: productStock() > 0 -->
        <div class="product-stock-result">
            <span data-bind="text: productName"></span>: <span data-bind="text: productStock"></span>
        </div>
        <!--/ko-->
    </div>
</div>
<!--/ko-->
