<div id="content-render-block" data-bind="scope: 'content'">
    <!-- ko template: getShowHideButtonTemplate() --><!--/ko-->
    <!-- ko template: getProductStockTemplate() --><!--/ko-->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "content": {
                        "component": "Training_KnockoutExtra/js/content"
                    }
                }
            }
        }
    }
</script>
